body {
  background: url(donuts.jpg) no-repeat center center fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

ul {
  list-style-position: inside;
}

label, input, p, .btn {
  font-weight: 200;
}

p {
  font-size: 18px;
}

hr {
  border-top-color: #6ACC9D !important;
  border-top: 2px solid;
  width: 60%;
}

.modal-button {
  text-align: center;
}

.form-button, .modal-content {
  border-radius: 0px;
}

.btn-success {
  background-color: #6ACC9D;
  border-color: #6ACC9D;
}

.btn-success:hover, .btn-success:active {
  background-color: #51B384;
  border-color: #51B384;
}

.btn-success:focus {
  background-color: #51B384 !important;
  border-color: #51B384 !important;
  outline: 0 !important;
}

#question-button {
  border-radius: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#myModalLabel {
  font-weight: 300;
}

#donut-form {
  text-align: left;
}

#title-text {
  font-size: 120px;
  color: #F75BBE;
  line-height: 100px;
  margin-top: 120px;
}

.message-text {
  display: inline-block;
  font-size: 100px;
  color: #FFFFFF;
  background-color: #F75BBE;
  padding: 0px 15px 0px 15px;
  margin-bottom: 30px;
}

.response-no {
  background-color: #444444;
}

#no-donut {
  display: none;
}

.history-container {
  width: 70%;
}

.history {
  /*margin-top: 50px;*/
  font-size: 22px;
  font-weight: 300;
}